$blue: #3085D3;
$blue-light: #03A9F4;
$blue-medium: #2970B3;
$blue-dark: #0F2238;
$red: #ED5A5A;
$yellow: #FFAD00;
$green: #71CC53;
$white: #FFFFFF;
$black: #000000;
$primary-color: $blue;
$secondary-color: $yellow;
$green-color: $green;
$font-weight-light: 300 !important;
$font-weight-semi-bold: 500 !important;
$font-weight-normal: 400 !important;
$font-weight-bold: 600 !important;
$font-weight-bolder: 700 !important;
$grey-lighter: #F3F3F3;
$grey-light: #DBDBDB;
$grey-medium: #9B9B9B;
$grey-dark: #423131;
$dark-grey: #777777;